html {
  box-sizing: border-box;
}

.item-list .pageName {
  width: 100vw;
}

.item-list {
  margin: 0 auto;
  padding: 0 0 3rem 0;
  background-color: #dcdcdc;
  gap: 1rem;
  align-items: center;
  width: 60vw;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.item-list__folders {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  width: 60vw;
  margin-top: 2rem;
}

.item-list__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  flex-basis: calc(100%/3);
}

.item-list__folder-pic {
  height: 5rem;
  width: 5rem;
  transition: transform 0.5s ease;
}

.item-list__folder-pic:hover {
  transform: scale(1.2);
}

.item-list__folder-add-pic {
  height: 5rem;
  width: 5rem;
  margin-top: 0;
  margin-bottom: 0;
  transition: transform 0.5s ease;
}

.item-list__folder-add-pic:hover {
  transform: scale(1.2);
}

.item-list__item-name {
  font-style: normal;
  background-color: #313134;
  margin-top: 0.1em;
  margin-bottom: 0.3em;
  color: #dcdcdc;
  border-radius: 5px;
  padding: 0.5rem;
  width: 4.3rem;
  font-size: 12px;
}

/* SEARCH BAR */

.search-container{
  width: 60vw;
  margin: 2rem auto 0 auto;
  display: flex;
  justify-content: center;
}

.search-bar-wrapper {
  position: relative;
  display: flex;
}

input.search-bar{
  margin: 0 auto;
  max-width: 20rem;
  height: 2rem;
  padding: 1.2rem;
  font-size: 1rem;
  border-radius: 5px;
  color:#dcdcdc;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  max-width: 1.8rem;
  aspect-ratio: 1/1;
}

.search-icon:hover{
  cursor: pointer;
}

@media screen and (min-width: 700px) {
  input.search-bar {
    width: 20rem;
  }

  .item-list .pageName {
    margin-top: 0;
    align-self: flex-start;
    flex-basis: 3rem;
    width: 60vw;
}

  .item-list {
    padding-top: 0;
    margin-top: 2rem;
  }
}