.notifications__wrapper {
    display: grid;
} 

.homepage__wrapper {
    display: grid;
}

.homepage__container {
    display: grid;
    justify-items: center;
    background-color: #dcdcdc;
    width: 60vw;
    justify-self: center;
    text-align: center;
    margin-top: 0;
}

.homepage__container .pageName {
    margin-top: 0;
    align-self: flex-start;
    flex-basis: 3rem;
    width: 100vw;
}

.notifications {
    display: grid;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem 5rem 1rem;
    margin: 0 auto;
}

.notification {
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 1.5rem;
    align-items: center;
    background-color: #313134;
    border-radius: 5px;
    box-shadow: rgba(16, 13, 22, 0.4) 0 2px 4px, rgba(25, 20, 36, 0.3) 0 7px 13px -3px;
    color: #dcdcdc;
    font-size: 1rem;
    padding: 0.5rem;
}

.notification p {
    margin: 0;
}

.notification__tick-hide, .notification__tick-show {
    justify-self: end;
}

/* POLÍČKO NA ODCHECKOVÁNÍ NOTIFIKACÍ*/

.notification__tick-show {
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 5px;
    background-image: url(../../img/tick-icon.svg);
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.notification__tick-hide {
    width: 2rem;
    aspect-ratio: 1/1;
    border-radius: 5px;
    background-image: none;
    background-color: #dcdcdc;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.notification__tick-hide:hover {
    transform: scale(1.1) translateY(.12rem);
}

/* HISTORY BUTTON */

.notifications__history {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: end;
    background-color: white;
    text-transform: uppercase;
    border: 1.5px solid #1A1A1A;
    border-radius: 5px;
    color: #3B3B3B;
    cursor: pointer;
    width: 8rem;
    height: 3rem;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    margin-top: 1rem;
}

.notifications__history:disabled {
    pointer-events: none;
}

.notifications__history:hover {
    color: #dcdcdc;
    background-color: #313134;
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    border: 1px solid #313134;
    ;
}

.notifications__history:active {
    box-shadow: none;
    transform: translateY(0);
}

@media screen and (min-width: 700px) {

    .homepage__container {
        margin-top: 0;
    }

    .homepage__wrapper {
        grid-auto-rows: min-content;
        margin-top: 2rem;
    }

    .homepage__wrapper .pageName {
        margin-top: 0;
        align-self: end;
        width: 60vw;
    }

    .notifications__wrapper {
        width: 60vw;
        background-color: #dcdcdc;
        justify-self: center;
    }

    .notifications {
        margin-top: 0;
        padding-top: 1rem;
    }

    .notification {
        width: 25rem;
        padding: 1rem;
    }

    .notifitcation__text {
        flex-basis: 40%;
        text-align: center;
    }
}
