@keyframes shimmering {
  0% {
    background-position: -1300px 0;
  }

  100% {
    background-position: 1300px 0;
  }
}


.formcontainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5rem 0;
  background-color: #ffffff;
  gap: 1rem;
  align-items: center;
  width: 60vw;
  animation: shimmering 3.1s linear infinite;
  background: linear-gradient(90deg, rgba(226, 226, 226, 1) 9%, rgba(238, 238, 238, 1) 18%, rgba(226, 226, 226, 1)31%);
  background-size: 1300px 100%;
  position: relative;
}

.boxForm {
  height: 50vh;
  width: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

}

.close {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: #313134;
  border-radius: 5px;
  top: 0.5em;
  right: 0.5em;
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: #dcdcdc;
}

.close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
