@keyframes shimmering {
  0% {
    background-position: -1300px 0;
  }

  100% {
    background-position: 1300px 0;
  }
}

.formcontainer {
  margin: 0 auto;
  display: flex;
  text-align: center;
  padding: 5rem 0;
  background-color: #ffffff;
  gap: 1rem;
  align-items: center;
  animation: shimmering 3.1s linear;
  background: linear-gradient(90deg, rgba(226, 226, 226, 1) 9%, rgba(238, 238, 238, 1) 18%, rgba(226, 226, 226, 1)31%);
  background-size: 1300px 100%;
  position: relative;
}

element.style {
  overflow: hidden;
}

.boxForm {
  height: 50vh;
  width: 40vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

input {
  background-color: #313134;
}

.attachment-icon {
  width: 60px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.close {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: #313134;
  border-radius: 5px;
  top: 0.5em;
  right: 0.5em;
}

.close::before,
.close::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 2px;
  background-color: #dcdcdc;
}

.close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* BUTTON */

.button-add-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
  border: 1.5px solid #1A1A1A;
  border-radius: 5px;
  color: #3B3B3B;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  margin-top: 1rem;
  padding: 1rem;
}

.button-add-item:disabled {
  pointer-events: none;
}

.button-add-item:hover {
  color: #dcdcdc;
  background-color: #313134;
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  border: 1px solid #313134;
  ;
}

.button-add-item:active {
  box-shadow: none;
  transform: translateY(0);
}
