.categories {
    display: grid;
    align-items: center;
    gap: 1rem;
    background-color: #dcdcdc;
    padding-bottom: 5rem;
    margin: 0 auto;
    
}

.category {
    display: grid;
    grid-template-columns: 20% 50%;
    align-items: center;
    background-color: #313134;
    border-radius: 5px;
    box-shadow: rgba(16, 13, 22, 0.4) 0 2px 4px, rgba(25, 20, 36, 0.3) 0 7px 13px -3px;
    color: #dcdcdc;
    font-size: 1rem;
    padding: 0.8rem;
    justify-self: center;
    width: 20rem;
    text-decoration: none;
    gap: 1rem;
    text-align: center;
}

.category img {
    width: 2rem;
}

.category:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.notifications__history {
    text-decoration: none;
}

@media screen and (min-width: 700px) {

    .categories {
        width: 60vw;
        margin-top: 2rem;
    }

    .categories .pageName {
        margin-top: 0;
        align-self: flex-start;
        flex-basis: 3rem;
        width: 60vw;
    }

    .category {
        width: 25rem;
        padding: 1rem;
    }


    /* .categories {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(14vw, 1fr));
        width: 50vw;
        align-items: center;
        gap: 1rem;
        padding: 5rem 4rem;
        margin: 0 auto;
        background-color: rgb(235, 235, 235);
    }

    .category {
        display: flex;
        flex-direction: column;
        background-color: #313134;
        border-radius: 5px;
        border-width: 0;
        box-shadow: rgba(16, 13, 22, 0.4) 0 2px 4px, rgba(25, 20, 36, 0.3) 0 7px 13px -3px;
        color: #dcdcdc;
        font-size: 1.4rem;
        padding: 1.5rem;
        width: 15vw;
        height: auto;
        justify-self: center;
        justify-content: center;
        aspect-ratio: 1/1;
    } */

}
