.pageName {
  display: flex;
  justify-content: center;
  background-color: #2A2929;
  color: #dcdcdc;
  text-align: center;
  margin: 0;
  height: 3rem;
  line-height: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: normal;
  font-size: 0.75rem;
  width: 100vw;
}

.pageName h1 {
  margin: 0;
  padding: 0.5rem;
}

/* Styly pro desktop: */
@media screen and (min-width: 700px) {

  .pageName {
    width: 60vw;
    margin: 0 auto;
    margin-top: 2rem;
    border-radius: 5px 5px 0 0;
  }

}
