.pageName {
  display: flex;
  justify-content: center;
  background-color: #2A2929;
  color: #dcdcdc;
  text-align: center;
  margin: 0;
  height: 3rem;
  line-height: 2rem;
  position: sticky;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: normal;
  font-size: 0.75rem;
  align-self: start;
}

.pageName h1 {
  margin: 0;
  padding: 0.5rem;
}

