.header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    text-align: right;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 2rem;
}

.header__logo {
    width: 3rem;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    flex: 0 1 25rem;
}


/* MENU EFFECTS */

.nav__categories, .nav__notifications {
    text-decoration: none;
    color: white;
}

.nav__notifications::before  {
    margin-right: 10px;
    content: '[';
    transform: translateX(20px);
}

.nav__categories::before {
    margin-right: 10px;
    content: '[';
    transform: translateX(20px);
}


.nav__notifications::after, .nav__categories::after {
    margin-left: 10px;
    content: ']';
    transform: translateX(-20px);
}

.nav__notifications:hover::before,
.nav__notifications:hover::after,
.nav__notifications:focus::before,
.nav__notifications:focus::after {
    opacity: 1;
    transform: translateX(0px);
}

.nav__categories:hover::before,
.nav__categories:hover::after,
.nav__categories:focus::before,
.nav__categories:focus::after {
    opacity: 1;
    transform: translateX(0px);
}

@media screen and (max-width: 699px) {

    .header__menu {
        display: none;
    }
}
