.header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    text-align: right;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 2rem;
}

.header__logo {
    width: 3rem;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    flex: 0 1 25rem;
}




a.nav__notifications::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

a.nav__notifications::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

a.nav__notifications a:hover::before,
a.nav__notifications a:hover::after,
a.nav__notifications a:focus::before,
a.nav__notifications a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}


@media screen and (max-width: 699px) {

    .header__menu {
        display: none;
    }
}
