.header {
    grid-area: header;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    text-align: right;
    color: rgb(228, 228, 228);
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 2rem;
}

.header__logo {
    width: 4rem;
}

.header__nav {
    display: flex;
    justify-content: space-around;
    flex: 0 1 25rem;
}


@media screen and (max-width: 699px) {
    .nav__categories, .nav__notifications {
        display: none;
    }
    .header__logo {
        display: none;
    }
}