* {
  font-family: 'fontPoppin';
}

.historyBox {
  display: grid;
  align-content: start;
  flex-direction: column;
  text-align: center;
  background-color:#dcdcdc;
  gap: 1rem;
  margin: 0 auto;
}

@media screen and (min-width: 700px) {

  .historyBox {
    margin-top: 2rem;
    align-content: start;
    border-radius: 5px;
  }

  .historyBox .pageName {
    margin-top: 0;
    justify-self: flex-start;
  }

}