html {
  box-sizing: border-box;
  background-image: url("/src/img/banner-desktop.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login__logo {
  height: 10rem;
  width: 10rem;
  max-width: 50vw;
}

.login__text {
  margin-top: 0;
  letter-spacing: 5px;
  font-size: 13px;
  margin-bottom: 30px;
}

.login__form input {
  max-width: 50vw;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 0 1rem;
  background-color: #dcdcdc;
  gap: 1rem;
  align-items: center;
  width: 50vw;
  height: 100vh;
}


input {
  background-color: black;
  border: none;
  margin: 3px;
  width: 250px;
  height: 40px;
  border-radius: 5px;
  padding: 1rem;
}

/* BUTTON */

.login__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-transform: uppercase;
  border: 1.5px solid #1A1A1A;
  border-radius: 5px;
  color: #3B3B3B;
  cursor: pointer;
  width: 8rem;
  height: 3rem;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  margin-top: 1rem;
  max-width: 50vw;
}

.registration {
  font-size: 13px;
  margin-top: 2rem;
}

.login__question {
  margin-bottom: 0;
}

p.login__link {
  margin: 0;
}

.login__button:disabled {
  pointer-events: none;
}

.login__button:hover {
  color: #dcdcdc;
  background-color: #313134;
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  border: 1px solid #313134;
  ;
}

.login__button:active {
  box-shadow: none;
  transform: translateY(0);
}

.login__link {
  margin-bottom: 0;
}

a.register {
  color: black;
}


@media screen and (max-width: 699px) {}
