* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 1fr 8vh;
  grid-template-areas:
    'header'
    'main'
    'footer';
  height: 100vh;
}

.main {
  grid-area: main;
  overflow: auto;
  display: grid;
  background-image: url('/src/img/banner-desktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 699px) {

  .main {
    background-image: none;
  }
}
