* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8vh 1fr 8vh;
  grid-template-areas:
      'header'
      'main'
      'footer';
  height: 100vh;
}

