.banner {
    display: flex;
    flex-direction: column;
}

.banner__img {
    background-image: url('/src/img/banner-mobil.png');
    height: 20vh;
    background-size: cover;
    background-position: center;
    flex-grow: 1;
}

/* Styly pro desktop: */
@media screen and (min-width: 700px) {

    .banner {
        display: none;
    }
}


